<section>
  <div class="container">
    <div class="col-md-10 col-sm-12 col-md-offset-1 mob-padd-0">
      <!-- General Information -->
      <%= form_with(model: listing, local: true) do |form| %>
      <% if listing.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

        <ul>
          <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="add-listing-box general-info mrg-bot-25 padd-bot-30 padd-top-25">
        <div class="listing-box-header">
          <i class="ti-files theme-cl"></i>
          <h3>General Information</h3>
          <p>Write something general information about your listing</p>
        </div>          
        <div class="row mrg-r-10 mrg-l-10">
          <div class="col-sm-6">
            <label>Listing Title</label>
            <%= form.text_field :name, id: :listing_name, class: "form-control" %>
          </div>
          <div class="col-sm-6">
            <label>Listing Category</label>
            <%= form.select :listing_category_id, options_for_select(listing_category_list, selected: listing.listing_category_id), {include_blank: "Select a category"}, class: "form-control" %>
          </div>
          <div class="col-sm-6">
            <label>Banner Image</label>
            <%= form.file_field :banner_image %>
          </div>
          <div class="col-sm-12">
            <label>Description</label>
            <%= form.text_area :description, id: :listing_description, class: "form-control ckeditor" %>
          </div>
        </div>
      </div>
      <!-- Add Location -->
      <div class="add-listing-box add-location mrg-bot-25 padd-bot-30 padd-top-25">
        <div class="listing-box-header">
          <i class="ti-location-pin theme-cl"></i>
          <h3>Add Location</h3>
          <p>Write Address Information about your listing Location</p>
        </div>
        <div class="row mrg-r-10 mrg-l-10">
          <div class="col-sm-6">
            <label>Address</label>
            <%= form.text_field :address, id: :listing_address, class: "form-control" %>
          </div>
          <div class="col-sm-6">
            <label>City</label>
            <%= form.text_field :city, id: :listing_city, class: "form-control" %>
          </div>
          <div class="col-sm-6">
            <label>State</label>
            <%= form.text_field :state, id: :listing_state, class: "form-control" %>
          </div>
          <div class="col-sm-6">
            <label>Country</label>
            <%= form.text_field :country, id: :listing_country, class: "form-control" %>
          </div>
          <div class="col-sm-6">
            <label>Zip code</label>
            <%= form.text_field :zipcode, id: :listing_zipcode, class: "form-control" %>
          </div>
        </div>
      </div>
      <!-- End Add Location -->
      <!-- Full Information -->
      <div class="add-listing-box full-detail mrg-bot-25 padd-bot-30 padd-top-25">
        <div class="listing-box-header">
          <i class="ti-write theme-cl"></i>
          <h3>Contact Information</h3>
          <p>Write contact information about listing</p>
        </div>
        <div class="row mrg-r-10 mrg-l-10">
          <div class="col-sm-6">
            <label>Contact</label>
            <%= form.text_field :contact, id: :listing_contact, class: "form-control" %>
          </div>

          <div class="col-sm-6">
            <label>Email</label>
            <%= form.text_field :email, id: :listing_email, class: "form-control" %>
          </div>

          <div class="col-sm-6">
            <label>Website</label>
            <%= form.text_field :website, id: :listing_website, class: "form-control" %>
          </div>

          <div class="col-sm-6">
            <label><i class="fa fa-facebook mrg-r-5" aria-hidden="true"></i>Facebook Link</label>
            <%= form.text_field :fb_url, id: :listing_fb_url, class: "form-control" %>
          </div>

          <div class="col-sm-6">
            <label><i class="fa fa-twitter mrg-r-5" aria-hidden="true"></i>Twitter User</label>
            <%= form.text_field :twitter_url, id: :listing_twitter_url, class: "form-control" %>
          </div>

          <div class="col-sm-6">
            <label><i class="fa fa-google-plus mrg-r-5" aria-hidden="true"></i>Google Plus</label>
            <%= form.text_field :gplus_url, id: :listing_gplus_url, class: "form-control" %>
          </div>

          <div class="col-sm-6">
            <label><i class="fa fa-linkedin-square mrg-r-5" aria-hidden="true"></i>Linked In</label>
            <%= form.text_field :linkedin_url, id: :listing_linkedin_url, class: "form-control" %>
          </div>

        </div>
      </div>
      <!-- End Full Information -->
      <div class="add-listing-box amenities mrg-bot-25 padd-bot-30 padd-top-25">
        <div class="listing-box-header">
          <i class="ti-gift theme-cl"></i>
          <h3>Amenities</h3>
          <p>Write something general information about your listing</p>
        </div>
        <div class="row mrg-r-10 mrg-l-10">
          <% @amenities.each do |amenity| %>
          <% if (@listing.id.present?) && (@listing.amenities.ids.include? amenity.id) %>
          <div class="col-sm-4">
            <span class="custom-checkbox d-block">
              <input type="checkbox" id="select<%= amenity.id%>" name="listing[amenity_remove][]" value="<%= amenity.id %>" checked>
              <label for="select<%= amenity.id%>"></label>
              <%= amenity.name %>
            </span>
          </div>
          <% else %>
          <div class="col-sm-4">
            <span class="custom-checkbox d-block">
              <%= form.check_box(:amenities, {multiple: true}, amenity.id, nil)%>
              <label for="select<%= amenity.id%>"></label>
              <%= amenity.name %>
            </span>
          </div>
          <% end %>
          <% end %>

        </div>

      </div>
    </div>
    <div class="text-center">
      <%= form.submit "Submit Listing", class: "btn theme-btn" %>
    </div>
    <% end %>
  </div>
</div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
    $(".ckeditor").ckeditor({
    });
  });
</script>
