<div class="clearfix"></div>
<!-- Main Banner Section Start -->
<div class="banner light-opacity" style="background-image:url('<%= asset_path("slider-1.jpg")%>');">  
  <div class="container">
    <div class="banner-caption">
      <div class="col-md-12 col-sm-12 banner-text">
        <h1>A traveler without observation is a bird without wings</h1>
        <p>Fill your life with adventures, not things.Have stories tell not stuff to show...</p>
        <%= form_for :search, url: :search_listing, method: :get, html: {class: "form-verticle" } do |f| %>
        <div class="col-md-4 col-sm-4 no-padd">
          <i class="banner-icon icon-pencil"></i>
          <%= f.text_field :keyword, class: "form-control left-radius right-br", placeholder: "Keywords.." %>
        </div>
        <div class="col-md-5 col-sm-5 no-padd">
          <i class="banner-icon icon-map"></i>
          <%= f.text_field :location, class: "form-control right-br", placeholder: "Location..", id: "autocomplete", onFocus: "geolocate()" %>
          <%= f.hidden_field :latitude, id: :listing_lat %>
          <%= f.hidden_field :longitude, id: :listing_long %>
        </div>
        <div class="col-md-3 col-sm-3 no-padd">
          <%= f.submit "Search", class: "btn theme-btn btn-default" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- Main Banner Section End -->

<!-- Services Section -->
<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="heading">
          <h2>Plan Which in <span>Your Mind</span></h2>
          <p>If you want to conquer fear, don't sit home and think about it. Go out and get busy.The greatest self is a peaceful smile, that always sees the world smiling back.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="feature-box">
        <span class="ti-map-alt"></span>
        <h4>Find Interesting Place</h4>
        <p>The day you decide you are more interested in being aware of your thoughts than you are in the thoughts themselves – that is the day you will find your way out.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="feature-box">
        <span class="ti-email"></span>
        <h4>Go Now</h4>
        <p>See the world,learn the culture,meet the people,taste the food,take the picture & enjoy life today,yesterday is gone & tommorrow may never come.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="feature-box">
        <span class="ti-user"></span>
        <h4>Best Time To Visit India</h4>
        <p>India could be visited throughout the year.With our compilation on best time to visit in India according to season, know where to plan your holiday and best things to do in that season if you are planning your tour to India.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->

<section class="gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="heading">
          <h2>Favourite <span>Listing</span></h2>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="list-slide">
        <% @listings.each do |listing| %>
        <div class="list-slide-box">
          <div class="listing-shot grid-style">
           <%= link_to listing_path(listing) do %>
           <div class="listing-shot-img">
            <%= image_tag listing.banner_image_url, class: "img-responsive" , style: "height:200px;width:100%;" if listing.banner_image_url.present? %>
            <span class="like-listing"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          </div>
          <div class="listing-shot-caption">
            <h4><%= listing.name %></h4>
            <p class="listing-location"><%= listing.address %></p>
          </div>
          <div class="listing-shot-info">
            <div class="row extra">
              <div class="col-md-12">
                <div class="listing-detail-info">
                  <span><i class="fa fa-phone" aria-hidden="true"></i> <%= listing.contact%></span>
                  <span><i class="fa fa-globe" aria-hidden="true"></i> <%= listing.website%></span>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <div class="listing-shot-info rating">
            <div class="row extra">
              <div class="col-md-7 col-sm-7 col-xs-6">
                <i class="color fa fa-star" aria-hidden="true"></i>
                <i class="color fa fa-star" aria-hidden="true"></i>
                <i class="color fa fa-star" aria-hidden="true"></i>
                <i class="color fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</section>

<section class="gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="heading">
          <h2>Favourite <span>Place</span></h2>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="list-slide">
        <% @places.each do |place| %>
        <div class="list-slide-box">
          <div class="listing-shot grid-style">
            <%= link_to place_path(place) do %>
            <div class="listing-shot-img">
              <%= image_tag place.banner_image_url, class: "img-responsive" , style: "height:200px;width:100%;" if place.banner_image_url.present? %>
              <span class="like-listing"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
            </div>
            <div class="listing-shot-caption">
              <h4><%= place.name %></h4>
              <p class="listing-location"><%= place.place_category.try(:name) %></p>
              <p class="listing-location"><%= place.full_address %></p>
            </div>
            <% end %>
            <div class="listing-shot-info rating">
              <div class="row extra">
                <div class="col-md-7 col-sm-7 col-xs-6">
                  <i class="color fa fa-star" aria-hidden="true"></i>
                  <i class="color fa fa-star" aria-hidden="true"></i>
                  <i class="color fa fa-star" aria-hidden="true"></i>
                  <i class="color fa fa-star-half-o" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Features Section -->
<section class="features-sec">
  <div class="container">
    <div class="col-md-4 col-sm-6">
      <div class="service-box">
        <div class="service-icon">
          <i class="ti-map-alt"></i>
        </div>
        <div class="service-content">
          <h3>
            <a href="#">Google Maps</a>
          </h3>
          <p>
            Google maps help for tourist to advise You can get directions for driving, public transit, walking, or biking on Google Maps-that you should make sure you have a handle on all of them before travelling. 
          </p>
        </div>
        <div class="read">
          <a href="#">+</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="service-box">
        <div class="service-icon">
          <i class="ti-share"></i>
        </div>
        <div class="service-content">
          <h3>
            <a href="#">Listing Service</a>
          </h3>
          <p>
           Travellers to easily find listings and all informations to collect,and also show in latest listings.
          </p>
        </div>
        <div class="read">
          <a href="#">+</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="service-box">
        <div class="service-icon">
          <i class="ti-pencil-alt"></i>
        </div>
        <div class="service-content">
          <h3>
            <a href="#">Accomodation Service</a>
          </h3>
          <p>
           Travellers when looking places to search and also easily find near by accommodation and book them online.
          </p>
        </div>
        <div class="read">
          <a href="#">+</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Features Section -->

<!-- Counter Section -->
<section class="company-state theme-overlap" style="background:url('<%= asset_path("tag-bg.jpg")%>');">
  <div class="container-fluid">
    <div class="col-md-3 col-sm-6">
      <div class="work-count">
        <span class="theme-cl icon icon-trophy"></span>
        <span class="counter">200</span> 
        <span class="counter-incr">+</span>
        <p>Awards Winning</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="work-count">
        <span class="theme-cl icon icon-layers"></span>
        <span class="counter">307</span> 
        <span class="counter-incr">+</span>
        <p>Done Projects</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="work-count">
        <span class="theme-cl icon icon-happy"></span>
        <span class="counter">700</span> 
        <span class="counter-incr">+</span>
        <p>Happy Clients</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="work-count">
        <span class="theme-cl icon icon-dial"></span>
        <span class="counter">770</span> 
        <span class="counter-incr">+</span>
        <p>Cups Of Cofee</p>
      </div>
    </div>
  </div>
</section>
<!-- End Counter Section -->

<!-- Testimonial Section -->
<section class="testimonials-2">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="heading">
          <h2>What Say <span>Our Customers</span></h2>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="testimonial-2" class="slick-carousel-2 slick-initialized slick-slider">
          <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;">
            Previous
          </button>
          <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 5700px; transform: translate3d(-1140px, 0px, 0px);"><div class="testimonial-detail slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 550px;" tabindex="-1">
              <div class="pic">
               <%= image_tag "documentry.jpg", class: "img-responsive", alt: "" %>
             </div>
             <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
            </p>
            <h3 class="testimonial-title">kristiana</h3>
            <span class="post">Web Designer</span>
            <ul class="testimonial-rating">
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
          <div class="testimonial-detail slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 550px;" tabindex="-1">
            <div class="pic">
              <img src="assets/img/team4.jpg" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
            </p>
            <h3 class="testimonial-title">kristiana</h3>
            <span class="post">Web Designer</span>
            <ul class="testimonial-rating">
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
          <div class="testimonial-detail slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 550px;" tabindex="0">
            <div class="pic">
              <%= image_tag "team3.jpg", class: "img-responsive", alt: "" %>
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
            </p>
            <h3 class="testimonial-title">
              williamson
            </h3>
            <span class="post">
              Web Developer
            </span>
            <ul class="testimonial-rating">
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
          <div class="testimonial-detail slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 550px;" tabindex="0">
            <div class="pic">
              <%= image_tag "team4.jpg", class: "img-responsive", alt: "" %>
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
            </p>
            <h3 class="testimonial-title">kristiana</h3>
            <span class="post">Web Designer</span>
            <ul class="testimonial-rating">
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
          <div class="testimonial-detail slick-slide" data-slick-index="2" aria-hidden="true" style="width: 550px;" tabindex="-1">
            <div class="pic">
              <%= image_tag "team3.jpg", class: "img-responsive", alt: "" %>  
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
            </p>
            <h3 class="testimonial-title">kristiana</h3>
            <span class="post">Web Designer</span>
            <ul class="testimonial-rating">
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
          <div class="testimonial-detail slick-slide" data-slick-index="3" aria-hidden="true" style="width: 550px;" tabindex="-1">
            <div class="pic">
              <%= image_tag "team4.jpg", class: "img-responsive", alt: "" %>
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
            </p>
            <h3 class="testimonial-title">kristiana</h3>
            <span class="post">Web Designer</span>
            <ul class="testimonial-rating">
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
          <div class="testimonial-detail slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 550px;" tabindex="-1">
            <div class="pic">
              <img src="assets/img/team3.jpg" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
            </p>
            <h3 class="testimonial-title">williamson</h3>
            <span class="post">Web Developer</span>
            <ul class="testimonial-rating">
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
          <div class="testimonial-detail slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 550px;" tabindex="-1">
            <div class="pic">
              <img src="assets/img/team4.jpg" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
            </p>
            <h3 class="testimonial-title">kristiana</h3>
            <span class="post">Web Designer</span>
            <ul class="testimonial-rating">
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
          <div class="testimonial-detail slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" style="width: 550px;" tabindex="-1">
            <div class="pic">
              <%= image_tag "logo-white.png", class: "logo logo-display", alt: "" %>
              <%= image_tag "logo.png", class: "logo logo-scrolled", alt: "" %>
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
            </p>
            <h3 class="testimonial-title">kristiana</h3>
            <span class="post">Web Designer</span>
            <ul class="testimonial-rating">
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
          <div class="testimonial-detail slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" style="width: 550px;" tabindex="-1">
            <div class="pic">
              <img src="assets/img/team4.jpg" alt="">
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
            </p>
            <h3 class="testimonial-title">kristiana</h3>
            <span class="post">Web Designer</span>
            <ul class="testimonial-rating">
              <li class="fa fa-star-o"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
          </div>
        </div>
      </div>
      <button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button>
    </div>
  </div>
</div>
</div>
</section>  
<!-- ================== Login & Sign Up Window ================== -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="tab" role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
            <li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content" id="myModalLabel2">
            <div role="tabpanel" class="tab-pane fade in active" id="login">
              <%= image_tag "logo.png", class: "img-responsive", alt: "" %>
              <div class="subscribe wow fadeInUp">
                <form class="form-inline" method="post">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Username" required="">
                      <input type="password" name="password" class="form-control" placeholder="Password" required="">
                      <div class="center">
                        <button type="submit" id="login-btn" class="btn btn-midium theme-btn btn-radius width-200"> Login </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="register">
              <%= image_tag "logo.png", class: "img-responsive", alt: "" %>
              <form class="form-inline" method="post">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" name="email" class="form-control" placeholder="Your Name" required="">
                    <input type="email" name="email" class="form-control" placeholder="Your Email" required="">
                    <input type="email" name="email" class="form-control" placeholder="Username" required="">
                    <input type="password" name="password" class="form-control" placeholder="Password" required="">
                    <div class="center">
                      <button type="submit" id="subscribe" class="btn btn-midium theme-btn btn-radius width-200"> Create Account </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>   
<!-- ===================== End Login & Sign Up Window =========================== -->
<!-- Switcher -->
<a id="back2Top" class="theme-bg" title="Back to top" href="#"><i class="ti-arrow-up"></i></a> 


<script type="text/javascript">
  $('.list-slide').slick({
    centerMode: true,
    centerPadding: '60px',
    slidesToShow: 3,
    responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
    ]
  });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI&libraries=places&callback=initAutocomplete"
async defer></script>

<script>
  // This example displays an address form, using the autocomplete feature
  // of the Google Places API to help users fill in the information.

  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();
    lat = place.geometry.location.lat();
    long = place.geometry.location.lng();

    $("#listing_lat").val(lat);
    $("#listing_long").val(long);

    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
    }

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      }
    }
  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>