<section class="detail-section" style="background:url('<%= @listing.banner_image.url %>')";>
   <div class="overlay" style="background-color: rgb(36, 36, 41); opacity: 0.5;">
   </div>
   <div class="profile-cover-content">
      <div class="container">
         <div class="cover-buttons">
            <ul>
               <li>
                  <div class="buttons medium button-plain ">
                     <i class="fa fa-phone"></i>
                     <%= @listing.contact %>
                  </div>
               </li>
               <li>
                  <div class="buttons medium button-plain ">
                     <i class="fa fa-map-marker"></i>
                     <%= @listing.address %>
                  </div>
               </li>
               <li>
                  <div class="inside-rating buttons listing-rating theme-btn button-plain">
                     <span class="value">9.7</span> 
                     <sup class="out-of">/10</sup>
                  </div>
               </li>
               <li>
                  <a href="#add-review" class="buttons btn-outlined medium add-review">
                  <i class="fa fa-comments-o"></i>
                  <span class="hidden-xs">Add review</span>
                  </a>
               </li>
               <li>
                  <a href="#" data-listing-id="74" data-nonce="01a769d424" class="buttons btn-outlined">
                  <i class="fa fa-heart-o">
                  </i>
                  <span class="hidden-xs">Bookmark</span> 
                  </a>
               </li>
            </ul>
         </div>
         <div class="listing-owner hidden-xs hidden-sm">
            <div class="listing-owner-avater">
               <%= image_tag "avatar.jpg", class: "img-responsive img-circle"%>
            </div>
            <div class="listing-owner-detail">
               <h4>Lucy Lukie</h4>
               <span class="theme-cl">Web Designer</span>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <div style="margin-top:50px;">
      <%= form_for :upload_images, url: :upload_listing_image_listings,  html: { multipart: true, class: "dropzone"} do |f|  %>
      <%= f.hidden_field :listing_id, value:  @listing.id %>
      <div class="fallback">
         <%= f.file_field :image %><br>
         <%= f.submit "Upload" %>
      </div>
      <% end %>
   </div>
   <%= link_to "Back to Listing", listing_path(@listing), class: "btn btn-success", style: "margin-left:10%;margin-bottom:50px;" %>
</div>
<script type="text/javascript">
   $(function () {
     $(".dropzone").dropzone({
       
       paramName: 'upload[image]',
       addRemoveLinks: true,
       success: function(file, response) {
         $(file.previewElement).find('.dz-remove').attr('id', response.id);
         $(file.previewElement).addClass('dz-success');
       },
       removedfile: function(file) {
         var id = $(file.previewTemplate).find('.dz-remove').attr('id');
         $.ajax({
           type: 'DELETE',
           url: "/remove_listing_image/" + id,
           success: function(data) {
             console.log(data.message);
           }
         });
         var previewElement;
         return (previewElement = file.previewElement) != null ? (previewElement.parentNode.removeChild(file.previewElement)) : (void 0);
       },
     });
   });
</script>