<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">
  <div class="container-fluid">       
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
      <i class="ti-align-left"></i>
    </button>

    <!-- Start Header Navigation -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <%= image_tag "logo-white.png", class: "logo logo-display" %>
        <%= image_tag "logo.png", class: "logo logo-scrolled" %>
      </a>
    </div>

    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="login.html" class="dropdown-toggle" data-toggle="dropdown">Explore</a>
          <ul class="dropdown-menu animated fadeOutUp">
            <% if user_signed_in? %>
            <li><%= link_to "Add Listing", new_users_listing_path %></li>
            <% else %>
            <li><%= link_to "Add Listing", new_user_session_path %></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listing</a>
              <ul class="dropdown-menu animated fadeOutUp">
                <li><a href="full-width-grid.html">Full Width Listing</a></li>
                <li><a href="full-width-vertical.html">Full Vertical Listing</a></li>
                <li><a href="grid-sidebar.html">Listing With Sidebar</a></li>
                <li><a href="vertical-sidebar.html">Vertical With Sidebar</a></li>
                <li><a href="top-place-list.html">Top Places</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Panel</a>
              <ul class="dropdown-menu animated fadeOutUp">
                <li><a href="category-1.html">Category Style 1</a></li>
                <li><a href="category-2.html">Category Style 2</a></li>
                <li><a href="category-3.html">Category Style 3</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Panel</a>
              <ul class="dropdown-menu animated fadeOutUp">
                <li><a href="edit-profile.html">Profile Settings</a></li>
                <li><a href="profile-detail.html">Profile Detail</a></li>
                <li><a href="manage-listing.html">Manage Listing</a></li>
                <li><a href="invoice.html">Check Invoice</a></li>
                <li><a href="create-pricing.html">Create Pricing</a></li>
              </ul>
            </li>

          </ul>
        </li>

        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">My Panel</a>
          <ul class="dropdown-menu animated fadeOutUp">
            <li><%= link_to "Manage Listing", users_listings_path %></li>
            <li><%= link_to "Profile Info", '/users/my-account' %></li>
            <li><%= link_to "Profile Settings", edit_users_account_path(current_user.id) %></li>
            <li><%= link_to "Log Out", destroy_user_session_path,  :method => :delete %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
        <li class="no-pd dropdown">
          <% if user_signed_in? %>
          <a href="add-listing.html" class="addlist"><img src="assets/img/avatar.jpg" class="img-responsive img-circle avater-img" alt="" /><strong>Daniel Luke</strong></a>
          <ul class="dropdown-menu animated navbar-left fadeOutUp">
            <li><a href="add-listing.html">Add Listing</a></li>

            <li><a href="manage-listing.html">Manage Listing</a></li>

            <li><a href="edit-profile.html">Profile Settings</a></li>

            <li><a href="profile-detail.html">Profile Detail</a></li>

            <li><a href="invoice.html">Check Invoice</a></li>

            <li><a href="create-pricing.html">Create Pricing</a></li>

            <li><a href="login.html">Log Out</a></li>
          </ul>
          <% elsif user_signed_in? %>
          <li class="no-pd">
            <%= link_to new_users_listing_path, class: "addList" do %>
            <i class="ti-user" aria-hidden="true"></i>Add Listing
            <% end %>
          </li>
          <% else %>
          <li class="no-pd">
            <%= link_to new_user_session_path, class: "addList" do %>
            <i class="ti-user" aria-hidden="true"></i>Add Listing
            <% end %>
          </li>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>   
</nav>